<div>
  <mat-card class="card">
    <mat-card-content class="empty" *ngIf="exam">
      Link to send out to participations: <a [routerLink]="['/exam/', exam.id]">{{link}}</a>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Successfull Participants
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="participations?.length > 0; else elseBlock">
      <table mat-table [dataSource]="participations">
        <ng-container matColumnDef="name">
          <td mat-cell *matCellDef="let row">{{row.firstName}} {{row.lastName}} ({{row.userId}})</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <td mat-cell *matCellDef="let row">{{row.successful ? 'PASSED' : (row.remainingAttempts == 0 ? 'FAILED' : 'RUNNING')}}</td>
        </ng-container>
        <ng-container matColumnDef="comment">
          <td mat-cell *matCellDef="let row">{{row.comment}}</td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: ['name', 'status', 'comment'];"></tr>
      </table>
    </mat-card-content>
    <ng-template #elseBlock>
      <mat-card-content class="empty">
        No participations so far...
      </mat-card-content>
    </ng-template>
  </mat-card>
  <mat-card>
    <mat-card-content class="buttons">
      <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
      <button mat-raised-button color="warn" (click)="close()">Close</button>
    </mat-card-content>
  </mat-card>
</div>
